[package]
name = "dnssector"
version = "0.1.2"
authors = ["Frank Denis <github@pureftpd.org>"]
description = "A very fast library to parse, validate, create and mangle DNS packets"
license = "ISC"
homepage = "https://github.com/jedisct1/dnssector"
repository = "https://github.com/jedisct1/dnssector"

[dependencies]
byteorder = "1"
chomp = "0.3"
debug_stub_derive = "0.3"
failure = "0.1"
failure_derive = "0.1"
libc = "0.2"
libloading = "0.5"
rand = "0.5"
xfailure = "0.1"
hex = "0.3"

[profile.release]
lto = true
panic = "abort"
opt-level = 3
